.game_show__container {
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  background-color: #efefef;
}

.game_show__card {
  width: 792px;
  margin: 16px;
  padding: 8px;
  border: 1px solid #615f60;
  -webkit-box-shadow: -4px 4px 0px 0px #20bf7a; 
  box-shadow: -4px 4px 0px 0px #20bf7a;
  background-color: #fff;
}


/* banner */

.game_show__banner {
  position: relative;
  width: 792px;
  height: 160px;
}

.game_show__banner:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,212,255,0) 100%);
  z-index: 1;
}

.game_show__banner img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
  /* filter: blur(2px); */
}

.game_show__name_container {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.game_show__name {
  margin-left: 16px;
  font-size: 32px;
  color: #fff;
  z-index: 100;
}

.game_show__rating {
  z-index: 2;
  position: absolute;
  top: 8px;
  left: 734px;
  box-shadow: -4px 4px 0px 0px #20bf7a;
  background-color: #fff;
  border: 1px solid #615f60;
  height: 16px;
  padding: 8px
}

/* release date */

.game_show__release_date_container {
  display: flex;
  margin: 8px 0 8px 0;
}

.game_show__release_date {
  color: #858688;
}

/* platform */

.game_show__platform_container {
  display: flex;
  margin-bottom: 8px;
}

.game_show__platform {
  color: #858688;
}

/* summary */

.game_show__summary_container {
  display: flex;
  margin-bottom: 8px;
}

.game_show__summary {
  color: #858688;
}

/* genre */

.game_show__genre_container {
  display: flex;
  margin-bottom: 8px;
}

.game_show__genre {
  color: #858688;
}

/* player perspective */

.game_show__player_perspective_container {
  display: flex;
  margin-bottom: 8px;
}

.game_show__player_perspective {
  color: #858688;
}

/* co-op */

.game_show__coop_container {
  display: flex;
  margin-bottom: 8px;
}

.game_show__coop {
  color: #858688;
}

/* screeshots */

.game_show__screenshots_container {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* video */

.game_show__video {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

/* buttons */

.game_show__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}


.game_show__cancel,
.game_show__add {
  font-family: 'Press Start 2P', cursive;
  height: 32px;
  border: 1px solid #615f60;
  margin: 0 0 0 8px;
  background-color: #ffffff;
  cursor: pointer;
}

.game_show__cancel {
  -webkit-box-shadow: -4px 4px 0px 0px #f82e30; 
  box-shadow: -4px 4px 0px 0px #f82e30;
}
.game_show__add {
  -webkit-box-shadow: -4px 4px 0px 0px #fff03b; 
  box-shadow: -4px 4px 0px 0px #fff03b;
}